#root {
  padding: 2rem;
  text-align: center;
  height: 100%;
  width: 100%;
}

.AppPage {
  display: flex;
  align-items: center;
  width: 100%;
}

.prevSection, .filterSection {
  padding: 10px;
  border-radius: 8px;
  background-color: #e3e3e3;
  height: auto;
  width: 30vh;
}

.filterSection{
  align-self: baseline;
  height: 90vh;
}

.mainSection {
  color: white;
  height: auto;
  width: 70vh; 
  padding: 25px;
  align-self: flex-start;
  background-color: #888;
  border-radius: 8px;
  margin: 25px;
}

.dogImg {
  height: 45vh; 
  width: 60vh; 
  overflow: hidden; 
}

.dogImg img {
  width: auto;
  height: 100%;
  object-fit: cover;
}